.{{ baseClass }} {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  background-repeat: no-repeat;
  background-size: {{ spriteWidth }}px {{ spriteHeight }}px;
  width: {{ glyphWidth }}px;
  height: {{ glyphHeight }}px;
}

{%- for group in groups %}
  {%- if group.dppx == 1 %}
    {%- for glyph in group.glyphs %}
      .{{ glyph.class }} {
        background-image: url('{{ glyph.backgroundImage.url }}');
        background-position: {{ glyph.backgroundPosition.x }}px {{ glyph.backgroundPosition.y }}px;
      }
    {%- endfor %}
  {%- else %}
    @media only screen and (min-resolution: {{ group.dppx }}dppx) {
      {%- for glyph in group.glyphs %}
        .{{ glyph.class }} {
          background-image: url('{{ glyph.backgroundImage.url }}');
        }
      {%- endfor %}
    }
  {%- endif %}
{%- endfor %}
