<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>png-sprite</title>
    <link rel="stylesheet" href="{{ css }}" />
  </head>
  <body>
    <ul>
      {% for glyph in glyphs %}
        <li>
          <span class="{{ baseClass }} {{ glyph.class }}"></span>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
